<% include ../layout/header %>

<!-- hero -->
<div class="jumbotron jumbotron-fluid bg-info">
    <div class="container">
        <h1 class="display-4">Edit your comment</h1>
    </div>

</div>
<!-- form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 align-self-center">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <div class="col-12 m-2 mt-4">
                        <label for="comment[text]">Description</label>
                        <textarea class="form-control" type="text" name="comment[text]"><%= comment.text %></textarea>  
                    </div>
                    <div class="col ml-2 mt-5">
                        <a href="/campgrounds/<%= campground_id %>" class="btn btn-outline-light">Back</a>
                        <button type="submit" class="btn btn-outline-info">Add your comment</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>


<% include ../layout/footer %>