<% include layout/header %>


<div class="jumbotron jumbotron-fluid bg-primary">
    <div class="container">
        <h1 class="text-center display-4">Welcome to YelpCamp</h1>
    </div>
</div>

<nav class="container nav nav-pills p-3 p-sm-5">
    <div class="nav-item"></div>
    <a class="nav-link active m-2" href="/">Home</a>
    <a class="nav-link m-2" href="/campgrounds">Campgrounds</a>
    <a class="nav-link m-2" href="/new">Add new camp</a>
</nav>

<% include layout/footer %>