<% include layout/header %>

<!-- navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-info">
    <a class="navbar-brand text-white" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mr-auto ">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/campgrounds">Campgrounds</a>
                <a class="nav-item nav-link active" href="/new">Add new camp</a>
            </div>
        </div>
</nav>

<!-- hero -->
<div class="jumbotron jumbotron-fluid bg-info">
    <div class="container">
        <h1 class="display-4">Add your Campground to the world</h1>
    </div>

</div>
<!-- form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 align-self-center">
            <form action="/addNewCamp" method="POST">
            <div class="form-group">
                <div class="col-lg-10 col-12 m-2 ">
                    <label for="newCampName">Campground</label>
                    <input class="form-control" type="text" name="newCampName" placeholder="enter the camp name">
                </div>
                <div class="col-lg-10 col-12 m-2 mt-4">
                    <label for="newCampImage">Picture</label>
                    <input class="form-control" type="text" name="newCampImage" placeholder="enter an image url">
                </div>
                <div class="col-12 m-2 mt-4">
                    <label for="newCampDescription">Description</label>
                    <textarea class="form-control" type="text" name="newCampDescription" placeholder="add a description about the campground"></textarea>
                </div>
                <div class="col ml-2 mt-5">
                    <button type="submit" class="btn btn-outline-info">Add a camp</button>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-4 col-sm-5 col-8 mt-4 align-self-top">
            <img class="img-fluid rounded-lg" src="https://images.unsplash.com/photo-1517771778436-39f5763f5270?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="">
        </div>
    </div>
         
</div>


<% include layout/footer %>