<% include ../layout/header %>

<!-- hero -->
<header class="jumbotron jumbotron-fluid bg-info">
    <div class="container">
        <h1 class="display-4">Welcome to YelpCamp</h1>
        <hr class="my-4">
        <p class="lead font-weight-lighter">View our hand-picked campgrounds from all over the world!</p>
        <a class='btn btn-light text-info' href="/campgrounds/new" role="button">Add new camp</a>
    </div>
</header>

<!-- campgrounds -->
<section class="container-fluid">
    <div class="row justify-content-center no-gutters">
        <% campgrounds.map((campground) => { %>
            <div class="col-11 col-sm-8 col-md-5 col-lg-3 card bg-secondary text-white text-center m-2 ">  
                <img src=<%= campground.image %> class="img-fluid card-img-top"/>
                <div class="card-body">
                    <h4 class="mb-3 font-weight-light"><%= campground.name %></h5>
                    <a class="btn btn-outline-info" href="/campgrounds/<%= campground._id %>"">More info</a>
                </div> 
            </div>
        <% }) %>
    </div>
</section>

<% include ../layout/footer %>