<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/0a04f58d36.js"></script>

    <!-- my CSS -->
    <link rel="stylesheet" href="/app.css">

    <title>Yelp Camp</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-info">
        <a class="navbar-brand text-white" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/campgrounds">Campgrounds</a>
                <a class="nav-item nav-link" href="/campgrounds/new">Add new camp</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) { %>
                <a class="nav-item nav-link" href="/register">Sign Up</a>
                <a class="nav-item nav-link text-white rounded-lg" href="/login">Log in</a>
                <% } else { %>
                    <a class="nav-item nav-link text-white rounded-lg"><%= currentUser.username %></a>
                    <a class="nav-item nav-link" href="/logout">Log Out</a>
                <% } %>       
            </div>
        </div>
    </nav>

   <% if (success && success.length > 0) { %>
        <div class="container-fluid bg-info">
            <div class="row justify-content-center">
                <div class="col-4 p-2">
                    <div class="alert alert-success m-0 p-0 text-center" role="alert">
                        <%= success %>
                    </div>
                </div>
            </div>  
        </div>
   <% } %>
    
    <% if (error && error.length > 0) { %>
        <div class="container-fluid bg-info">
            <div class="row justify-content-center">
                <div class="col-4 p-2">
                    <div class="alert alert-danger m-0 p-0 text-center" role="alert">
                        <%= error %>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    